.view-container {
    text-align: center;
 }

/*.w3-bar{*/
    /*position: fixed;*/
    /*top: 0;*/
    /*z-index: 100;*/
/*}*/

/*.w3-input{*/
    /*margin-left: 8px;*/
/*}*/

.notes{
    position: fixed;
    left: 5%;
}

/*.homeButton {*/
    /*background-color: #94335c;*/
    /*!*float: right;*!*/
/*}*/

.main-content-holder{
    margin-top: 50px;
}

/*.success{*/
    /*color: #01BF8E;*/
/*}*/

.selection-canvas{
    z-index:40;
    width:0px;
    height:0px;
    position:absolute;
}
.marking-canvas{
    z-index:33;
    width:0px;
    height:0px;
    position:absolute;
}

.test-holder{
    position: relative;
    display: inline-block;
}
.img-holder{
    z-index: 30;
}

.caption-text{
    margin: 100px auto;
}

.file-picker-container{
    text-align: center;
    padding: 200px;
}