
*{
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

.header {
    color: #2d2d2d;
    padding: 15px;
    text-align: center;
    font-size: 70px;
}

body{
    background-color: #cecac1;
    padding:5% 0;
}

.row{
    overflow: hidden;
    display: flex;
    width: 100%;
}

.column {
    float: left;
    width: 30%;
    padding: 50px;
    margin: 0 15px;
}

.firstColumn{
    background-color: #019d6e;
}

.secondColumn{
    background-color: #94335c;
}

.thirdColumn{
    background-color: #f08d2f;
}

.fourthColumn{
    /*background-color: #445f6a;*/
    background-color: #0d6993
}

/*.last {margin-right: 0;}*/

.columnName{
    color: #FFFFFF;
    font-size: 40px;
    padding: 20px;
    margin: auto;
    width: 50%;
}

.description{
    color:#FFFFFF;
    font-size: 25px;
    padding-top: 20px;
}

a{
    text-decoration: none;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
img{
    width:100%;
}

