img{
    width:100%;
}
body{
    background-color: #f1f1f1;
}

.selection-canvas{
    z-index:40;
    width:0px;
    height:0px;
    position:absolute;
}
.marking-canvas{
    z-index:33;
    width:0px;
    height:0px;
    position:absolute;
}

.test-holder{
    position: relative;
}
.img-holder{
    z-index: 30;
}

.legend{
    position: absolute;
    left: 50px;
    top:50px;
    z-index: 32;
}

.column{
    float: left;
    padding: 0;
}

.left{
    width: 85%;
}
.left-first{
    width: 20%;
}
.right{
    width: 15%;
}
.left-three, .middle-three{
    width:40%;
}
.right-three{
    width:50%;
}
.text-center{
    text-align: center;
}

.column-30{
    width: 30%;
}

.column-70{
    width: 70%;
}
input.mark {
    width: inherit;
}

