.view-container {
    padding: 0 70px;
}

img{
    width:100%;
}
body{
    background-color: #f1f1f1;
}

.selection-canvas{
    z-index:40;
    width:0px;
    height:0px;
    position:absolute;
}
.marking-canvas{
    z-index:33;
    width:0px;
    height:0px;
    position:absolute;
}

.test-holder{
    position: relative;
}
.img-holder{
    z-index: 30;
}

.legend{
    position: absolute;
    left: 50px;
    top:50px;
    z-index: 32;
}

.column{
    float: left;
}

.left{
    width: 80%;
}
.left-first{
    width: 10%;
}
.right{
    width: 20%;
}
.left-three, .middle-three{
    width:20%;
}
.right-three{
    width:50%;
}
.text-center{
    text-align: center;
}

