.column{
    float: left;
    margin: 100px auto;
    padding: 100px;
}
.left{
    width: 50%;
}

.right{
    width: 50%;
}

.row{
    /*overflow: hidden;*/
    display: flex;
    width: 100%;
}

.templates-column{
    flex:50%;
}

.selected{
    background-color: #0d6993;
    border: 1px solid #0d6993;
    border-radius: 4px;
}
.template-row:hover{
    background-color: #0d6993;
    border: 1px solid #0d6993;
    border-radius: 4px;
    cursor:pointer;
}

.file-row{
    background-color: #8ac747;
    border: 1px solid #8ac747;
    border-radius: 4px;
}

.table{
    margin-top:20px;
}

.empty-template-table{
    text-align: center;
    padding-top: 50px;
}

.send-btn {
    float: right !important;
    background-color: #2e8a52;
}

form[id="pickFiles"]{
    display: inline-block;
}

.create-new-template{
    display: inline-block;
    font-size: 1.25em;
    background: #019d6e;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}