
.column{
    float: left;
    padding: 100px;
}
.left{
    width: 50%;
}

.right{
    width: 50%;
}

.row{
    display: flex;
    /*width: 100%;*/
    margin: 10px 5px;
}

.templates-column{
    flex:50%;
}

.selected{
    background-color: #57b277;
    border: 1px solid #57b277;
    border-radius: 4px;
}
.template-row:hover{
    background-color: #57b277;
    border: 1px solid  #57b277;
    border-radius: 4px;
    cursor:pointer;
}

.file-row{
    background-color: #57b277;
    border: 1px solid #8ac747;
    border-radius: 4px;
    margin: 5px;
}

.table{
    margin-top:20px;
}

.empty-template-table{
    text-align: center;
    padding-top: 50px;
}

.send-btn {
    float: right !important;
    background-color: #019d6e;
}

form[id="pickFiles"]{
    display: inline-block;
}

.create-new-template{
    display: inline-block;
    font-size: 1.25em;
    background: #94335c;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.create-new-template:hover{
    background-color: rgba(148, 51, 92, 0.77);
}